body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);
}

header {
    width: 100%;
    height: 70px;
}

.contenitore-stile {
    width: 130px;
    height: 60px;
    background-color: #252525;
    color: #fff;
    position: fixed;
    display: block;
    text-align: center;
    font-size: x-large;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border: #360005 3px solid;
}

.cambia-stile-Chiaro {
    color: #fff;
    background-color: rgba(0,0,0,0.81);
}

.cambia-stile-Scuro {
    color: rgba(0,0,0,0.81);
    background-color: #fff;
    width: auto
}

.ip {
    color: #fff;
    font-family: fantasy;
    position: relative;
    left: 15px;
    float: left;
    top: 15px;
}

#cssmenu {
    position: relative;
    float: right;
    top: 25px;
    right: 15px;
}
#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}
#cssmenu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#cssmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#cssmenu.align-right ul li {
    float: right;
}
#cssmenu.align-center ul {
    text-align: center;
}
#cssmenu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
#cssmenu ul li a:hover {
    color: #000;
}
#cssmenu ul li a:hover:before {
    width: 100%;
}
#cssmenu ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}
#cssmenu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #000;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
    display: none;
}
#cssmenu ul li.active a {
    color: #000;
}
#cssmenu ul li.active a:before {
    width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
    display: block;
}
#cssmenu.align-right li:first-child a:after {
    display: none;
}

.contenitore-immagine {
    width: 100%;
    height: auto;
    text-align: center;
    border-top: rgba(0,0,0,0.35) 5px solid;
    border-bottom: rgba(0,0,0,0.35) 5px solid;
    margin-top: 50px;
}

.contenitore-pulsanti {
    width: 100%;
    height: 500px;
}

.Discord {
    width: 600px;
    height: auto;
    font-size: 2.5em;
    border: none;
    border-radius: 10px;
    background-color: rgba(47,0,53,0.76);
    color: #fff;
    float: left;
    position: relative;
    margin-left: 10%;
    top: 100px;
    transition: 0.3s;
}

.Discord:hover {
    border-radius: 0px;
    background-color: #000;
}

.Votaci {
    width: 600px;
    height: auto;
    font-size: 2.5em;
    border: none;
    border-radius: 10px;
    background-color: rgba(0,36,4,0.97);
    color: #fff;
    float: left;
    position: relative;
    margin-left: 10%;
    margin-top: 100px;
    transition: 0.3s;
}

.Votaci:hover {
    border-radius: 0px;
    background-color: #000;
}

@media screen and (max-width: 1600px) {

    .contenitore-pulsanti {
        text-align: center;
        width: 600px;
        margin: 0 auto;
    }

    .Discord {
        position: relative;
        top: 100px;
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .Votaci {
        position: relative;
        top: 200px;
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    #cssmenu {
        transform: scale(0.7);
        right: 0px;
    }

}

.Info-server {
    width: 100%;
    height: 500px;
    background-color: rgba(0,0,0,0.20);
    margin: 0 auto;
}

.titolo-info-server {
    position: relative;
    top: 20px;
    text-align: center;
    color: #fff;
    font-family: Avenir;
    font-size: 3em;
}

.info-server-scritte {
    width: 100%;
    height: auto;
}

.Scritte {
    color: #fff;
    font-family: Avenir;
    float: left;
    width: 33%;
    text-align: center;
}

.info-server-dati {
    width: 100%;
    height: auto;
    position: relative;
    top: 100px;
}

.Dati {
    color: #fff;
    font-size: 2.5em;
    font-family: Avenir;
    float: left;
    width: 33%;
    text-align: center;
}

.stato-online {
    color: #fff;
    font-size: 2.5em;
    font-family: Avenir;
    float: left;
    width: 20%;
    text-align: center;
    background-color: rgba(0,0,0,0.01);
    border: rgba(0,236,59,0.55) 5px solid;
    border-radius: 15px;
    transition: 0.3s;
    position: relative;
    left: 7%;
}

.stato-online:hover {
    border: #00ec2a 5px solid;
}

.le-nostre-modalità {
    margin-top: 90px;
    font-size: 3em;
    text-align: center;
    font-family: Athelas;
    color: #fff
}

.modalità {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 1.5em;
}

.OnlyPrison {
     width: 33%;
     height: 100%;
     background-color: rgba(0,0,0,0.33);
     text-align: center;
     color: #fff;
     float: left;
 }

.OnlyFaction {
    width: 33%;
    height: 100%;
    background-color: rgba(0,0,0,0.20);
    text-align: center;
    color: #fff;
    float: left;
}

.OnlyCreative {
    width: 33%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    color: #fff;
    float: left;
}

.footer {
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    top: 100%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}