.Sfondo {
    width: 1680px;
    height: 990px;
    border: 1px solid;
    background-image: url(https://cdn.discordapp.com/attachments/480434807235674132/480436756530069531/2018-08-18_19.48.18.png);;
    text-align: center;
    line-height: 10px;
}

.Header {
    background-image: url(https://cdn.discordapp.com/attachments/480434807235674132/480436756530069531/2018-08-18_19.48.18.png);;
    text-align: center;
    line-height: 50px;
}

h1.Benvenuto {	
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    color: #ff6a00;
    line-height: 1.5;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

h1.Titolo {   
    color: #106bf2;
    font-family: "Lucida Console", Monaco, monospace
    font-weight: 900;
    text-transform: uppercase;
}

.container { 
	width:925px;
	margin:0 auto;
	background-image: url(https://cdn.discordapp.com/attachments/480434807235674132/480436756530069531/2018-08-18_19.48.18.png);;
    text-align: center;
    line-height: 10px;
}

.Navigazione {
	width: 925px;
	margin:0 auto;
    height: 40px;
	background-color: #0c9b1f;
}

.Principale {
	width: 925px;
    height: 990px;
    background-image: url(https://cdn.discordapp.com/attachments/480434807235674132/480436756530069531/2018-08-18_19.48.18.png);;
}

.Fondo {
	width: inherit;
	margin:0 auto;
	height:100px;
	background-color: #0c9b1f;
}

ul.menu {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 11px;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
ul.menu li {
    background-color: #0c9b1f;
    border-bottom: 5px solid #008112;
    display: block;
    width: 150px;
    height: 30px;
    margin: 2px;
    float: left; 
}
  
ul.menu li a {
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
}
  
ul.menu li.active, ul.menu li:hover {
    background-color: #0c7b1a;
    border-bottom: 5px solid #14561c;
}
