.Header {
    background-image: url(https://cdn.discordapp.com/attachments/480434807235674132/480436756530069531/2018-08-18_19.48.18.png);;
    text-align: center;
    line-height: 50px;
}

h1.Benvenuto {	
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    color: #ff6a00;
    line-height: 1.5;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

h1.Titolo {   
    color: #106bf2;
    font-family: "Lucida Console", Monaco, monospace
    font-weight: 900;
    text-transform: uppercase;
}

.container { 
	width:1680px;
	margin:0 auto;
	background-color: #dddddd;
    text-align: center;
    line-height: 10px;
}

.Navigazione {
	width: 1680px;
	margin:0 auto;
    height: 40px;
	background-color: #0c9b1f;
}

.Principale {
	width: 1680px;
    height: 995px;
    background-image: url(https://cdn.discordapp.com/attachments/480434807235674132/480436756530069531/2018-08-18_19.48.18.png);
}

.Fondo {
	width: inherit;
	margin:0 auto;
	height:100px;
	background-color: #0c9b1f;
	text-align: justify;
	text-align: center;
    line-height: 100px;
}

ul.menu {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 11px;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
ul.menu li {
    background-color: #0c9b1f;
    border-bottom: 5px solid #008112;
    display: block;
    width: 330px;
    height: 30px;
    margin: 2px;
    float: left; 
}
  
ul.menu li a {
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 330px;
    height: 30px;
    text-align: center;
}
  
ul.menu li.active, ul.menu li:hover {
    background-color: #0c7b1a;
    border-bottom: 5px solid #14561c;
}

.Contatti {
	width: 1680px;
    height: 990px;
    background-image: url(https://cdn.discordapp.com/attachments/480434807235674132/480436756530069531/2018-08-18_19.48.18.png);;
    align-content: center
}

.Immagini {
	color: #ff6a00;
	Position: relative;
	top: 15px;
}

.Contenitore-Testo-Immagini {
	width: 360px;
	Height: 40px;
	background-color: #0c9b1f;
	text-align: center;
	margin: auto;
	position: relative;
	top: -10px;
	border-radius: 10px 10px 10px 10px;
}

.contenitore-news {
	width: 1600px;
	height: 250px;
	border: 15px solid #0c9b1f;
	border-radius: 40px 40px 40px 40px;	
	margin: auto;
	border-left: 10px solid #05831e;
    border-right:10px solid #05831e;
}

.news {
	width: 400px;
	height: 200px;
	background-color: white;
	border-radius: 40px 40px 40px 40px;	
	margin: auto;
	position: relative;
	top: 25px;
    border-top: 5px solid #05831e;
    border-bottom: 5px solid #05831e;
}

.novità {
	width: 360px;
	Height: 40px;
	background-color: #0c9b1f;
	text-align: center;
	margin: auto;
	position: relative;
	top: 8px;
	border-radius: 10px 10px 10px 10px;
	border-top: 5px solid #05831e;
	border-left: 5px solid #05831e;
	border-right: 5px solid #05831e;
}

.titolo-novità {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    color: #ff6300;
    line-height: 1.5;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

h1.Titolo-News {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    color: #ff6a00;
    line-height: 1.5;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

p.Testo-News {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	color: #006100;
	letter-spacing: 0.075em;
    line-height: 1.5;
}






