@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
/* STRUTTURA PER MOBILE < 767 */

body {
	width: 100%;
	height: auto;
	background-color: none;
	overflow-x: hidden;
}

#cssmenu {
  text-align: center;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 0.9;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #0030eb;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}

.ip {
	margin:auto;
	width: 80%;
	text-align: center;
	color:#0e00ff;
	border: 3px solid #0e00ff;
	border-radius: 17px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.logo {
	margin-top: 15px;
	width: 100%;
    border-top: 5px solid #1b00ff;
    border-bottom: 5px solid #1b00ff;
}

.immagine-logo {
	max-width: 100%;
}

.contenitore-pulsanti {
	width: 80%;
	height: 300px;
	margin: auto;
	text-align: center;
}

.Discord {
	margin-top: 50px;
	width: 100%;
	height: 50px;
	background-color: #6400a1;
	border-radius: 10px;
	font-size: large;
	font-weight: bold;
	color: #fff;
	transition: 0.3s ease;
}

.Discord:hover {
	background-color: #0012ce;
	box-shadow: 0px 0px 5px black;
}

.Votaci {
	width: 100%;
	height: 50px;
	background-color: #006824;
	font-size: large;
	font-weight: bold;
	border-radius: 10px;
	color: #fff;
	margin-top: 100px;
	transition: 0.3s ease;
}

.Votaci:hover {
	background-color: #0012ce;
	box-shadow: 0px 0px 5px black;
}

.scendi {
	display: none;
}