.blocco-sinistra {
    width: 25%;
    height: 100vh;
    border-right: solid black 0.2em;
    position: relative;
    background-color: #e6e6e6;
    float: left;
}

.blocco-centrale {
    width: 49%;
    height: 100vh;
    position: relative;
    text-align: center;
    float: left;
    font-family: Copperplate;
}

.blocco-destro {
    width: 25%;
    height: 100vh;
    border-left: solid black 0.2em;
    background-color: #cacaca;
    position: relative;
    float: left;
}

.immagine-titolo {
    width: 80%;
    height: auto;
}

.immagine-sinistra {
    width: auto;
    height: auto;
    position: relative;
    top: 7px;
    border: #cccccc 0.2em solid;
    border-radius: 10px;
}

.contenitore-immagine-sinistra {
    width: 100%;
    background-color: #c1c1c1;
    height: auto;
    border-bottom: solid black 0.1em;
    border-bottom-left-radius: 10px;
}

.testo-plugins {
    font-family: Copperplate;
    position: relative;
    left: -20px;
}

.Lista-plugins {
    padding-top: 20px;
    padding-bottom: 20px;
}

.elimina-cerchi {
    list-style-type: none;
}

.plugins {
    font-family: Copperplate;
    padding-left: 20px;
    color: #38b03b;
    border-left: #b1b1b1 solid 0.2em;
    list-style-type: none;
}

.plugins:hover {
    transition: 0.3s;
    color: #1a4c1d;
    cursor: grabbing;
}

.downloads {
    font-family: Copperplate;
    padding: 13px 24px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border: 0;
    border-radius: 5px;
    background-color: #7ec954;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

.downloads:hover {
    background-color: #9bd57b;
}

.descrizione {
    width: 45%;
    height: auto;
    background-color: #ffcb5d;
    border-radius: 10px;
    float: left;
    margin: 20px;
}

.comandi {
    width: 45%;
    height: auto;
    background-color: #7fc2ff;
    border-radius: 10px;
    float: left;
    margin: 20px;
}

.Permessi {
    width: 45%;
    height: auto;
    background-color: #ff8969;
    border-radius: 10px;
    float: left;
    margin: 20px;
    margin-top: -10px;
}

@media screen and (max-width: 1600px) {
    .descrizione {
        width: 90%;
        margin: auto;
        float: none;
    }

    .comandi {
        width: 90%;
        margin: auto;
        float: none;
    }

    .Permessi {
        width: 90%;
        margin: auto;
        float: none;
    }

    .blocco-centrale {
        width: 48.5%;
    }

    .blocco-sinistra {
        float: none;
        width: 100%;
        height: auto;
        border-right: none;
    }

    .blocco-centrale {
        width: 100%;
        float: none;
        height: auto;
    }

    .blocco-destro {
        float: none;
        width: 100%;
        height: auto;
        border-left: none;
    }

    .Lista-plugins {
        padding-left: 40%;
    }
}